---
import "@styles/style.css";

import ContactButton from "@components/ContactButton.astro";
import ProjectList from "@components/ProjectList.astro";
---
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Eva</title>
		<meta name="description" content="" />
		<meta name="author" content="Eva">
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="" />
		<meta name="keywords" content="" />
	</head>
	<body>
		<div class="hero">
			<div class="hero-wrapper">
				<h1 class="signature">Eva Evangelisti</h3>
				<h1 class="heading">Sviluppatrice Web</h1>
				<p class="text">Studentessa universitaria di Informatica, mente creativa e appassionata di Filosofia.</p>
				<ContactButton />
			</div>
		</div>

		<div class="about">
			<div class="about-wrapper">
				<h2 class="subheading">Il mio percorso</h2>
				<p class="text">Mi sono diplomata all'istituto tecnico indirizzo informatico e attualmente studio con ottimo profitto presso la facoltà di informatica dell'università di Roma “La Sapienza”. Inoltre integro i miei studi ampliando le mie conoscenze nel settore e non solo.</p>
				<a class="cv-button" href="resume.pdf">Visualizza CV</a>
			</div>
		</div>

		<div class="projects">
			<h2 class="subheading">Progetti</h2>
			<ProjectList />
		</div>

		<div class="contact">
			<h2 class="subheading">Parliamo della tua idea</h2>
			<ContactButton />
		</div>

		<footer>
			<p class="footer-text"><span class="copyright">© 2024</span> based in Rome</p>
			<ul class="social-list">
				<li>
					<a class="social" href="https://github.com/qtEva03">
						<svg class="social-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path 
								d="M12 0C5.37321 0 0 5.50714 0 12.3054C0 17.7429 3.43929 22.35 8.20714 23.9786C8.80714 24.0911 9.02679 23.7107 9.02679 23.3839C9.02679 23.0893 9.01607 22.3179 9.01071 21.2893C5.67321 22.0339 4.96607 19.6393 4.96607 19.6393C4.41964 18.2196 3.63214 17.8393 3.63214 17.8393C2.54464 17.0732 3.7125 17.0893 3.7125 17.0893C4.91786 17.175 5.55 18.3589 5.55 18.3589C6.62143 20.2393 8.35714 19.6982 9.04286 19.3821C9.15 18.5893 9.46071 18.0429 9.80357 17.7375C7.14107 17.4268 4.33929 16.3714 4.33929 11.6571C4.33929 10.3125 4.80536 9.21429 5.57143 8.35714C5.44821 8.04643 5.03571 6.79286 5.68929 5.1C5.68929 5.1 6.69643 4.76786 8.98929 6.35893C9.94822 6.08572 10.9714 5.95179 11.9946 5.94643C13.0125 5.95179 14.0411 6.08572 15 6.35893C17.2929 4.76786 18.2946 5.1 18.2946 5.1C18.9482 6.79286 18.5357 8.04643 18.4125 8.35714C19.1786 9.21964 19.6446 10.3179 19.6446 11.6571C19.6446 16.3821 16.8375 17.4214 14.1643 17.7268C14.5929 18.1071 14.9786 18.8571 14.9786 20.0036C14.9786 21.6482 14.9625 22.9768 14.9625 23.3786C14.9625 23.7054 15.1768 24.0911 15.7875 23.9679C20.5661 22.3446 24 17.7375 24 12.3054C24 5.50714 18.6268 0 12 0Z" 
							/>
						</svg>
					</a>
				</li>
				<li>
					<a class="social" href="https://www.linkedin.com/in/eva-evangelisti">
						<svg class="social-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path 
								d="M21.0678 0C22.6861 0 24 1.31391 24 2.93222V21.0678C24 22.6861 22.6861 24 21.0678 24H2.93222C1.31391 24 0 22.6861 0 21.0678V2.93222C0 1.31391 1.31386 0 2.93222 0L21.0678 0ZM7.52161 19.8412V9.26067H4.00411V19.8412H7.52161ZM20.2031 19.8412V13.7737C20.2031 10.5237 18.4679 9.01186 16.154 9.01186C14.2882 9.01186 13.4524 10.038 12.9845 10.7587V9.26067H9.46786C9.5145 10.2535 9.46786 19.8412 9.46786 19.8412H12.9844V13.9323C12.9844 13.616 13.0072 13.2998 13.1004 13.0738C13.3542 12.4421 13.9332 11.7878 14.9048 11.7878C16.1768 11.7878 16.6864 12.7584 16.6864 14.1802V19.8412H20.2031ZM5.78662 4.15884C4.58316 4.15884 3.79688 4.95005 3.79688 5.98706C3.79688 7.00228 4.55925 7.81528 5.74008 7.81528H5.76277C6.98925 7.81528 7.7527 7.00228 7.7527 5.98706C7.72997 4.9515 6.99141 4.16109 5.78662 4.15884Z" 
							/>
						</svg>
					</a> 
				</li>
				<li>
					<a class="social" href="https://twitter.com/Eva03x">
						<svg class="social-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path 
								d="M14.286 10.1634L23.2215 0H21.1043L13.3421 8.82293L7.147 0H0L9.37035 13.343L0 24H2.11715L10.3092 14.6805L16.853 24H24L14.286 10.1634ZM11.3853 13.4601L10.4344 12.1306L2.88064 1.56176H6.13301L12.231 10.0944L13.1778 11.4239L21.1033 22.5143H17.851L11.3853 13.4601Z" 
							/>
						</svg>
					</a>
				</li>
			</ul>
		</footer>
	</body>
</html>