---
import "@fontsource-variable/libre-franklin";
import "@fontsource-variable/inter";

import "@styles/style.css";

import ContactButton from "@components/ContactButton.astro";
import ProjectList from "@components/ProjectList.astro";
---

<html lang="it">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Eva</title>
		<meta name="title" content="Eva" />
		<meta name="description" content="Sono una sviluppatrice web appassionata di creare esperienze digitali uniche e coinvolgenti. Con competenze sia nel design che nello sviluppo web, offro soluzioni su misura per realizzare siti web professionali e funzionali. Contattami per parlare della tua idea." />
		<meta name="author" content="Eva" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="portfolio, web developer, sviluppatore web, freelance, sviluppatore web freelance, sito web, sito web professionale, web design, sviluppo web, programmazione, responsive design, HTML, CSS, JavaScript, SEO" />
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9984d4">
		<meta name="msapplication-TileColor" content="#603cba">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		<div class="hero">
			<div class="hero-wrapper">
				<svg class="signature" viewBox="0 0 412 57" fill="none">
					<path 
						class="eva-evangelisti"
						d="M21.4772 18.1665C47.8572 16.9565 49.9672 -2.0135 31.4472 1.4265C14.3872 4.5965 1.94716 23.3665 14.9072 28.0665C19.9772 29.9065 20.4172 24.6565 15.5872 26.1865C-9.41284 34.1265 0.857162 53.2865 22.8372 45.9065C32.8072 42.5665 39.8372 36.7465 44.8172 30.6465C47.9972 26.7565 45.0372 25.1165 42.8972 29.9065C35.3372 46.7665 49.0472 47.4365 55.9572 34.6165C60.4172 26.3665 52.4772 24.7565 52.4772 31.6065C52.4772 40.2265 63.8572 39.5865 68.4072 35.6465C69.9172 34.3365 73.9872 31.5365 79.8972 30.9365C83.5472 30.5565 83.0572 27.2165 80.4572 27.0265C76.9972 26.7765 70.2572 29.3865 67.9872 36.8865C66.0772 43.1965 72.6872 46.3665 82.0372 38.5965C91.0772 31.1065 84.4672 26.9465 81.3572 36.7365C79.0372 44.0165 85.9472 48.9165 96.2572 40.6465C108.627 30.7165 113.587 18.3365 133.617 18.7465C141.837 18.9165 150.477 18.8765 158.757 17.7765C181.477 14.7665 182.507 -1.8535 164.917 1.4265C147.857 4.5965 135.417 23.3665 148.377 28.0665C153.447 29.9065 153.887 24.6565 149.057 26.1865C124.057 34.1265 134.327 53.2865 156.307 45.9065C166.277 42.5665 173.307 36.7465 178.287 30.6465C181.467 26.7565 178.507 25.1165 176.367 29.9065C168.807 46.7665 182.517 47.4365 189.427 34.6165C193.887 26.3665 185.947 24.7565 185.947 31.6065C185.947 40.2265 197.327 39.5865 201.877 35.6465C204.957 32.9765 209.777 30.9365 213.967 30.9365C216.927 30.9365 217.247 27.0265 213.647 27.0265C210.117 27.0265 203.637 29.6365 201.437 36.8865C199.527 43.1965 206.137 46.3665 215.487 38.5965C224.527 31.1065 217.917 26.9465 214.807 36.7365C211.417 47.3965 222.967 44.2865 230.817 36.3465C232.357 34.7565 235.067 32.2365 236.547 30.1765C238.217 27.8365 235.657 26.0765 234.317 28.6565C232.457 32.2365 230.777 39.3565 230.287 42.2165C233.597 38.4865 240.017 32.1465 243.927 28.8565C248.227 25.2565 250.717 26.9265 247.657 32.7465C242.017 43.4365 248.147 47.3165 263.657 33.6465C266.347 31.2665 270.397 30.4165 274.137 30.1865C276.217 30.0565 276.557 27.8065 274.987 27.2665C272.747 26.5065 267.967 27.6965 263.767 33.4965C257.257 42.4565 268.117 47.6565 278.777 34.0465C280.537 31.7865 278.427 30.1965 276.917 32.0065C274.847 34.4865 272.867 43.7965 270.187 49.9065C267.377 56.3365 259.887 57.5865 255.817 53.5665C253.387 51.1565 252.577 47.5665 257.337 47.1565C265.457 46.4565 278.197 44.2565 289.507 36.0565C294.087 32.7365 299.237 34.4165 304.187 31.6665C308.037 29.5365 306.757 25.1565 300.337 27.6065C298.097 28.4665 293.637 31.1865 292.347 33.9665C288.847 41.4765 298.187 47.7465 313.977 36.4565C320.057 32.1165 328.937 20.3765 333.337 10.2465C335.217 5.9065 332.297 4.5865 329.587 7.7865C323.477 14.9765 319.857 23.6665 317.247 32.9065C313.377 46.6265 327.667 46.0165 338.667 29.5265C340.207 27.2065 337.737 25.8065 336.507 28.2265C328.567 43.8065 338.047 45.2765 344.667 39.3665C353.627 31.4765 358.897 26.5265 359.777 24.4965C361.117 21.3665 357.737 20.6265 357.037 22.9265C356.327 25.2365 359.077 27.9865 359.787 28.9665C364.737 35.8065 362.737 42.6265 356.867 42.5665C348.147 42.4665 350.647 32.5065 357.387 35.9265C364.377 39.4765 370.757 38.2865 379.717 24.9765C391.967 6.7865 380.407 -0.00349617 376.757 23.6965C375.747 30.2865 379.857 30.8865 383.827 30.3965C389.957 29.6465 389.447 24.3865 385.397 26.3765C375.967 31.0265 371.987 29.9265 370.367 29.7665C367.367 29.4665 367.277 26.2565 370.287 26.1165C373.847 25.9465 376.017 29.4565 375.147 32.0165C369.517 48.5065 384.527 44.3065 397.187 29.6265C399.107 27.3965 396.277 25.7865 395.197 28.1965C386.737 47.0365 398.207 45.6365 410.507 34.3265" 
						stroke="var(--black)" 
						stroke-width="1.2953" 
						stroke-miterlimit="10" 
						stroke-linecap="round" 
						stroke-linejoin="round"
					/>
					<path
						class="dot" 
						d="M346.637 17.5566C348.687 15.4066 345.697 12.7066 343.677 15.2566C341.677 17.8066 344.517 19.7766 346.627 17.5666" 
						stroke="var(--black)" 
						stroke-width="1.2953" 
						stroke-miterlimit="10" 
						stroke-linecap="round" 
						stroke-linejoin="round"
					/>
					<path 
						class="dot" 
						d="M404.517 17.5566C406.567 15.4066 403.577 12.7066 401.557 15.2566C399.557 17.8066 402.397 19.7766 404.507 17.5666" 
						stroke="var(--black)" 
						stroke-width="1.2953" 
						stroke-miterlimit="10" 
						stroke-linecap="round" 
						stroke-linejoin="round"
					/>
				</svg>
					
				<h1 class="main-heading">Sviluppatrice Web</h1>
				<p class="text">Studentessa universitaria di Informatica, mente creativa e appassionata di Filosofia.</p>
				<ContactButton />
			</div>

			<svg class="hero-image" viewBox="0 0 191 171">
				<path 
					d="M125.831 84.05C123.221 72.64 117.721 67.28 111.541 59.34C94.5908 37.56 101.931 0 148.271 0C187.541 0 199.021 44.25 183.411 64.88C178.851 70.9 174.491 77.62 170.751 85.13C167.221 92.24 162.751 93.66 155.571 93.06C141.231 91.86 128.791 96.97 125.831 84.05Z" 
					fill-rule="evenodd"
					clip-rule="evenodd"
					fill="#FFD401" 
				/>
				<path 
					d="M129.941 104.21C130.641 109.65 131.321 118.73 132.451 127.34C140.721 127.44 155.471 127.53 159.921 127.46C160.801 122.01 162.141 113.13 163.301 103.55C151.501 103.56 138.681 103.56 129.941 104.21Z" 
					fill-rule="evenodd" 
					clip-rule="evenodd" 
					fill="#999999"
				/>
				<path 
					d="M133.181 82.4102L131.911 82.1702C133.811 71.9402 133.781 59.1602 131.241 50.6802H129.661C127.531 50.6802 124.391 50.2502 122.571 49.0402C121.341 48.2202 120.501 46.9802 120.271 45.6202C120.071 44.4302 120.351 43.2702 121.061 42.3502C121.771 41.4202 122.831 40.8502 124.041 40.7602C125.511 40.6502 127.021 41.2402 128.211 42.3802C129.941 44.0402 131.261 46.4702 132.231 49.3802H148.951C149.591 46.4102 150.611 43.9502 152.141 42.3902C153.261 41.2502 154.761 40.6502 156.211 40.7302C157.471 40.8102 158.571 41.3802 159.311 42.3502C160.021 43.2702 160.301 44.4302 160.101 45.6202C159.871 46.9802 159.031 48.2202 157.801 49.0402C155.971 50.2502 152.831 50.6802 150.701 50.6802H149.981C148.221 60.4302 150.231 75.5002 151.121 82.2102L149.841 82.3802C148.951 75.6802 146.961 60.7602 148.711 50.6802H132.641C135.301 59.9902 134.861 73.3702 133.181 82.4102ZM150.221 49.3902H150.681C152.791 49.3902 155.571 48.9502 157.061 47.9702C157.991 47.3502 158.631 46.4202 158.801 45.4202C158.941 44.5902 158.751 43.7902 158.261 43.1502C157.751 42.4902 156.991 42.0902 156.111 42.0402C155.001 41.9702 153.901 42.4402 153.051 43.3102C151.721 44.6602 150.821 46.7902 150.221 49.3902ZM124.381 42.0502C124.291 42.0502 124.211 42.0502 124.121 42.0602C123.281 42.1202 122.561 42.5102 122.071 43.1502C121.581 43.7802 121.391 44.5902 121.531 45.4202C121.701 46.4202 122.331 47.3502 123.271 47.9702C124.761 48.9502 127.551 49.3902 129.651 49.3902H130.811C129.911 46.8102 128.741 44.7202 127.291 43.3302C126.451 42.5102 125.391 42.0502 124.381 42.0502Z" 
					fill="var(--black)"
				/>
				<path 
					d="M149.201 123.22C149.131 123.22 149.051 123.22 148.981 123.22C146.731 123.19 144.291 123.2 141.871 123.2C138.931 123.21 135.901 123.21 133.271 123.16C127.471 123.04 124.841 120.89 124.181 115.73C123.851 113.13 123.561 110.63 123.251 107.98L122.761 103.82L124.051 103.67L124.541 107.84C124.851 110.48 125.151 112.99 125.471 115.58C126.051 120.12 128.091 121.77 133.301 121.88C135.911 121.93 138.941 121.93 141.871 121.92C144.301 121.92 146.741 121.91 149.001 121.94C149.071 121.94 149.141 121.94 149.211 121.94C155.211 121.94 156.421 118.73 156.811 115.58L158.241 103.67C158.361 101.76 157.941 100.34 156.941 99.3602C154.411 96.8702 148.431 97.3501 142.091 97.8701C132.451 98.6601 121.521 99.5402 120.021 89.6102C118.941 82.4002 114.831 77.0901 110.491 71.4701C106.031 65.7001 101.421 59.7302 100.011 51.3801C97.9708 39.2101 101.101 27.0302 108.611 17.9502C115.961 9.06016 126.781 4.02015 139.091 3.74015C151.611 3.45015 162.821 8.17015 170.721 16.9902C178.741 25.9502 182.241 37.8702 180.551 50.5402C179.431 58.9802 175.221 65.2102 170.761 71.8102C167.231 77.0402 163.571 82.4502 161.181 89.3602L159.961 88.9401C162.411 81.8601 166.111 76.3801 169.691 71.0801C174.061 64.6101 178.191 58.5002 179.271 50.3602C180.911 38.0602 177.531 26.5102 169.761 17.8402C162.111 9.30016 151.221 4.76015 139.121 5.02015C127.201 5.29015 116.721 10.1602 109.611 18.7602C102.341 27.5502 99.3108 39.3502 101.291 51.1502C102.641 59.1802 107.151 65.0201 111.511 70.6601C115.761 76.1601 120.171 81.8602 121.301 89.4002C122.611 98.1402 132.461 97.3301 141.981 96.5601C148.621 96.0201 154.891 95.5102 157.851 98.4202C159.111 99.6702 159.681 101.46 159.531 103.77L158.101 115.71C157.691 118.95 156.331 123.22 149.201 123.22Z" 
					fill="var(--black)"
				/>
				<path 
					d="M12.7008 112.71C7.48082 93.37 29.7608 86.27 36.9508 97.4C54.2808 83.18 76.9608 92.39 73.6508 110.63C89.8208 110.53 92.4508 129.24 81.5008 137.03C87.8008 145.26 82.4108 158.37 69.1108 158.37C43.8508 158.37 23.0608 160.3 22.0408 142.78C3.41081 142.01 0.640815 120.32 12.7008 112.71Z"
					fill-rule="evenodd"
					clip-rule="evenodd" 
					fill="#FF89B1"
				/>
				<path 
					d="M65.3708 170.67C60.1708 170.67 55.2108 169.42 51.1408 166.3C47.3408 163.4 45.1408 159.38 44.7308 154.81C34.9608 159.63 25.1308 156.35 19.5308 150.56C15.6808 146.59 14.1008 141.92 14.9008 137.62C9.80081 137.83 5.4308 135.8 2.6308 131.82C-0.509197 127.35 -0.879196 121.31 1.7408 117.13C3.0108 115.1 5.9408 112.04 12.0208 112.04C11.9508 106.61 15.9908 102 20.8308 99.8902C25.5808 97.8102 31.6008 97.9902 36.0108 102.21C38.1608 99.1402 41.3508 97.0102 45.3408 96.0402C52.1908 94.3902 59.9308 96.5602 64.5808 101.46C67.7108 104.75 69.1408 108.95 68.7808 113.58C71.9808 113.02 74.9808 113.69 77.4808 115.58C81.0608 118.27 82.9408 123.14 82.1508 127.68C81.5808 130.99 79.6908 133.76 76.8008 135.66C78.6608 137.91 79.4408 140.99 78.8308 144.24C77.9708 148.75 74.0808 154.12 65.9708 154.38L65.9308 153.09C73.2808 152.85 76.7908 148.05 77.5608 144C78.1308 141.03 77.4108 138.29 75.6908 136.33C74.8208 136.8 73.8708 137.2 72.8508 137.52C68.9208 138.75 67.3908 137.03 67.0108 136.47C66.3608 135.51 66.4308 134.26 67.1608 133.38C67.5908 132.86 69.3108 131.3 73.2208 133C74.2308 133.44 75.1308 134.03 75.9008 134.73C79.4508 132.51 80.5408 129.39 80.8708 127.47C81.5708 123.39 79.8908 119.03 76.6908 116.62C74.4008 114.89 71.6108 114.33 68.6108 114.94C68.4708 115.87 68.2608 116.81 67.9808 117.77C67.0908 120.79 65.3508 121.04 64.6408 121.02C63.4308 120.97 62.3708 120.04 62.1108 118.81C61.8008 117.31 62.7208 115.88 64.5708 114.98C65.5408 114.51 66.5008 114.15 67.4508 113.89C68.0308 108.42 65.8108 104.67 63.6208 102.37C59.2708 97.8002 52.0408 95.7702 45.6208 97.3102C41.8608 98.2202 38.8708 100.25 36.9008 103.18C37.6408 104.03 38.3308 105.02 38.9408 106.15C40.2708 108.6 39.2008 110.01 38.6808 110.5C37.6608 111.47 35.9908 111.66 34.8008 110.93C34.2308 110.58 32.9708 109.49 33.7108 106.99C34.1008 105.66 34.6308 104.43 35.2808 103.31C31.0808 99.0802 25.4208 99.2802 21.3208 101.07C16.9008 103 13.2108 107.18 13.2908 112.08C13.9608 112.12 14.6608 112.2 15.3908 112.32C18.8008 112.87 19.0708 114.98 19.0708 115.61C19.0708 117.14 17.8908 118.59 16.4408 118.83C15.6608 118.96 13.7508 118.9 12.6108 115.55C12.3508 114.8 12.1808 114.06 12.0808 113.34C12.0708 113.34 12.0508 113.34 12.0408 113.34C7.87081 113.34 4.65081 114.88 2.81081 117.82C0.460812 121.57 0.810802 127.02 3.6608 131.08C6.2508 134.77 10.3608 136.6 15.1908 136.31C15.6508 134.82 16.4108 133.38 17.4708 132.06C18.5608 130.71 19.9608 130.2 21.2308 130.71C22.3308 131.15 23.0008 132.24 22.9008 133.42C22.8308 134.26 22.2308 136.31 18.2108 137.18C17.5408 137.33 16.8708 137.44 16.2208 137.51C15.3508 141.5 16.7908 145.9 20.4308 149.65C25.7908 155.19 35.2708 158.27 44.6308 153.38C44.6208 151.93 44.7808 150.43 45.1308 148.9C45.5708 146.95 46.7308 145.72 48.2308 145.62C49.4808 145.55 50.6508 146.29 51.0808 147.45C51.3508 148.18 51.6808 150.11 48.8908 152.21C47.9208 152.94 46.9408 153.58 45.9508 154.14C46.2008 158.58 48.2508 162.49 51.8908 165.26C61.4108 172.52 76.2108 169.05 86.8908 163.38C95.0308 159.06 102.941 155.64 110.251 161.29C117.381 166.8 123.591 165.44 126.651 164.13C131.101 162.24 134.391 158.14 134.851 153.94C134.881 153.69 134.891 153.44 134.901 153.2C132.371 153.6 129.721 153.31 127.221 152.29C124.631 151.23 123.081 149.39 122.951 147.24C122.851 145.57 123.681 144.05 125.101 143.26C126.871 142.28 129.161 142.63 131.391 144.22C134.121 146.16 135.741 148.73 136.121 151.62C137.841 151.14 139.451 150.3 140.851 149.11C145.521 145.15 147.111 138.15 145.221 129.9L146.481 129.61C148.481 138.35 146.731 145.81 141.681 150.1C140.061 151.47 138.181 152.43 136.191 152.94C136.191 153.32 136.171 153.7 136.131 154.09C135.621 158.81 132.091 163.23 127.151 165.33C121.491 167.74 115.041 166.64 109.451 162.32C103.351 157.61 97.0308 159.46 87.4908 164.53C80.9908 168.01 72.9308 170.67 65.3708 170.67ZM48.4508 146.92C48.4208 146.92 48.3808 146.92 48.3508 146.92C47.4408 146.98 46.7308 147.81 46.4208 149.19C46.1608 150.37 46.0108 151.52 45.9708 152.65C46.7008 152.21 47.4208 151.72 48.1408 151.18C49.5908 150.09 50.2508 148.86 49.8908 147.9C49.6708 147.31 49.0908 146.92 48.4508 146.92ZM127.301 144.03C126.741 144.03 126.221 144.16 125.751 144.41C124.771 144.95 124.201 146.02 124.271 147.18C124.371 148.81 125.631 150.24 127.741 151.11C130.061 152.06 132.531 152.31 134.881 151.92C134.571 149.35 133.121 147.04 130.671 145.29C129.491 144.45 128.331 144.03 127.301 144.03ZM69.9908 133.51C69.0908 133.51 68.4908 133.8 68.1608 134.19C67.7908 134.64 67.7608 135.24 68.0908 135.73C68.6008 136.49 70.0208 137.04 72.4608 136.27C73.2908 136.01 74.0408 135.71 74.7108 135.38C74.1208 134.9 73.4508 134.49 72.7108 134.17C71.6108 133.7 70.7108 133.51 69.9908 133.51ZM20.2808 131.81C19.6908 131.81 19.0608 132.18 18.5108 132.86C17.6808 133.89 17.0608 135 16.6408 136.15C17.0808 136.09 17.5208 136.01 17.9708 135.91C20.1708 135.43 21.5508 134.46 21.6408 133.3C21.6908 132.69 21.3508 132.12 20.7808 131.9C20.6208 131.85 20.4508 131.81 20.2808 131.81ZM67.2508 115.29C66.5508 115.51 65.8508 115.79 65.1408 116.14C63.8408 116.77 63.2008 117.64 63.3808 118.54C63.5108 119.19 64.0808 119.7 64.6908 119.72C64.7108 119.72 64.7208 119.72 64.7408 119.72C65.5608 119.72 66.3108 118.86 66.7408 117.39C66.9608 116.67 67.1308 115.97 67.2508 115.29ZM13.4308 113.39C13.5208 113.97 13.6608 114.55 13.8608 115.13C14.4408 116.83 15.3108 117.7 16.2608 117.55C17.0908 117.41 17.8108 116.51 17.8108 115.61C17.8108 114.6 16.8608 113.86 15.2208 113.6C14.6008 113.51 14.0008 113.44 13.4308 113.39ZM36.2108 104.33C35.7008 105.26 35.2908 106.27 34.9708 107.35C34.6208 108.52 34.8108 109.4 35.4908 109.82C36.1708 110.23 37.2008 110.11 37.8008 109.55C38.4508 108.93 38.4508 107.94 37.8108 106.75C37.3208 105.85 36.7808 105.04 36.2108 104.33Z" 
					fill="var(--black)"
				/>
				<path 
					d="M40.3207 129.15C39.6107 129.15 38.9007 128.93 38.3107 128.5C37.0307 127.55 36.6007 125.85 37.1507 123.82C37.5407 122.36 38.2507 121.21 39.1107 120.24C38.8107 120.1 38.4907 119.98 38.1607 119.89C34.9107 118.96 30.9107 120.29 28.2007 123.21L27.2507 122.33C30.2807 119.06 34.8107 117.58 38.5207 118.64C39.0707 118.8 39.5907 119.01 40.0707 119.27C40.8307 118.58 41.6707 117.97 42.4907 117.37C45.0807 115.47 47.5307 113.68 47.9307 109.57L49.2207 109.69C48.7607 114.37 45.9707 116.42 43.2607 118.41C42.5407 118.94 41.8307 119.45 41.1907 120.01C42.4607 121.06 43.3307 122.55 43.6707 124.33C44.0307 126.22 43.4807 127.78 42.1607 128.61C41.5907 128.97 40.9507 129.15 40.3207 129.15ZM40.2407 120.92C39.4107 121.8 38.7507 122.83 38.4007 124.15C38.0007 125.63 38.2507 126.83 39.0807 127.45C39.7607 127.95 40.7307 127.98 41.4607 127.53C42.3007 127 42.6407 125.93 42.3907 124.59C42.0907 123.03 41.3507 121.78 40.2407 120.92Z" 
					fill="var(--black)"
				/>
				<path 
					d="M59.7809 145.65C55.9309 143.92 54.6309 141.22 54.2309 139.26C53.9009 137.64 54.0409 135.91 54.5909 134.33C52.7309 133.67 51.2508 132.24 50.3708 130.18L51.5609 129.67C52.4409 131.73 53.8208 132.7 55.1008 133.13C55.4608 132.43 55.9009 131.78 56.4209 131.21C58.0809 129.39 59.5008 129.93 59.9008 130.14C60.7708 130.6 61.2109 131.6 60.9809 132.57C60.8609 133.06 60.2609 134.67 57.3109 134.74C56.8109 134.76 56.3308 134.72 55.8608 134.64C55.3908 135.94 55.1808 137.45 55.5008 138.98C55.9908 141.37 57.6609 143.26 60.3109 144.45L59.7809 145.65ZM56.4209 133.43C56.7309 133.46 57.0209 133.47 57.2809 133.46C58.6409 133.43 59.5508 132.99 59.7208 132.29C59.8108 131.9 59.6308 131.48 59.2908 131.3C58.7908 131.03 58.0708 131.33 57.3708 132.09C57.0308 132.47 56.7109 132.92 56.4209 133.43Z" 
					fill="var(--black)"
				/>
				<path 
					d="M38.2408 146.77L37.1908 146.02C38.0008 144.88 38.2708 143.82 37.9708 142.95C37.6508 142.03 36.6508 141.29 35.1608 140.87C30.3908 139.52 30.1608 136.93 30.4108 135.09L31.6908 135.26C31.5508 136.28 31.2708 138.42 35.5108 139.62C37.4408 140.17 38.7108 141.17 39.1908 142.52C39.5108 143.41 39.5908 144.87 38.2408 146.77Z" 
					fill="var(--black)"
				/>
			</svg>
		</div>

		<div class="about">
			<svg class="girl" viewBox="0 0 141 191">
				<path 
					d="M37.7609 144.56C39.6409 152.82 38.3009 160.79 39.9909 164.98C44.3309 175.76 49.9509 177.32 58.7809 172.77C66.4709 168.81 75.3609 168.95 80.6809 170.04C94.2309 172.83 93.0709 166.21 104.871 170.25C110.691 172.25 113.951 170.03 118.931 167.88C123.511 165.81 128.311 165.65 132.081 168.83C139.251 174.86 142.141 168.83 139.911 160.45C137.801 152.55 140.121 149.96 140.581 138.03C141.101 124.5 134.951 122.55 135.231 108.45C135.381 100.75 133.681 92.97 132.441 85.4C131.731 81.13 130.901 76.48 128.101 73.05C125.851 70.35 122.091 68.09 118.661 68.95C113.291 70.3 109.221 73.62 101.191 66.56C97.4309 63.25 94.6009 60.63 89.6309 66.82C80.8409 77.78 81.3409 81.76 66.3509 71.63C62.0909 68.75 58.5209 73.89 59.2609 77.9C60.1009 82.48 66.5709 79.16 67.1309 86.39C67.7009 93.83 68.7609 97.33 71.8809 104.16C74.7809 109.88 77.3909 115.63 79.1209 121.85C82.0009 131.8 79.8609 135.34 70.5309 131.47C67.4809 130.21 60.4409 130.69 49.0009 131.84C39.7209 132.79 35.4409 134.38 37.7609 144.56Z" 
					fill-rule="evenodd" 
					clip-rule="evenodd"
					fill="var(--purple)"
				/>
				<path 
					d="M38.3608 190.39C38.3608 184.97 39.7008 181.31 41.2508 177.09C42.0108 175.02 42.7908 172.88 43.4808 170.35C46.0708 160.83 50.5108 160.11 56.1208 159.2C58.0308 158.89 60.2008 158.54 62.5008 157.78C71.6208 154.78 75.5808 155.6 80.5808 156.63C81.5008 156.82 82.4508 157.02 83.4908 157.2C85.8308 157.62 87.1708 157.49 87.9608 156.77C88.7208 156.09 89.0208 154.74 88.8708 152.76C88.3308 145.54 88.0408 139.3 87.7708 133.25C87.1408 119.33 86.5908 107.3 83.1808 88.51C82.3008 83.66 80.0408 80.06 76.6408 78.11C73.2308 76.15 68.7308 75.95 64.3008 77.57C63.2708 77.94 62.3308 77.83 61.7208 77.26C61.2108 76.78 60.7208 75.79 61.3108 73.8C62.2808 70.49 63.5308 68.46 65.0108 67.77C65.7808 67.41 66.5808 67.42 67.4108 67.78C70.7508 69.26 73.7308 68.62 77.0508 65.7L78.5608 64.38C85.0808 58.71 88.0508 56.12 88.7208 49.71C88.9908 47.08 90.2108 46.57 92.0308 46.08C94.6408 45.38 96.1108 41.84 96.5708 39.02C97.1208 35.66 96.5208 32.56 95.1308 31.64C94.3908 31.14 93.3808 31.28 92.1508 32.04C90.9608 32.78 89.7908 33.01 88.7708 32.71C87.7108 32.39 86.8608 31.53 86.2208 30.14C84.7108 26.85 83.5708 26.22 81.5108 25.09C80.2208 24.38 78.6108 23.49 76.4608 21.69C70.0008 16.26 67.1408 16.48 61.8508 19.91C60.8208 20.58 59.6108 21.06 58.3308 21.57C54.5708 23.06 51.0208 24.47 51.7308 30.3C52.2608 34.69 52.0908 37.93 51.9608 40.54C51.7008 45.67 51.5408 48.77 56.5208 55.18C60.2108 59.94 61.0008 64.93 58.6308 68.55C56.3008 72.1 51.4408 73.54 46.2508 72.22C44.1208 71.68 42.7408 70.69 42.1508 69.28C41.2408 67.07 42.5008 64.51 43.5408 62.77C46.5608 57.68 45.3508 54.78 42.9208 49.01C42.6708 48.42 42.4208 47.81 42.1508 47.17C38.5008 38.3 41.1408 32.94 43.9308 27.26C45.1808 24.71 46.4808 22.08 47.2908 18.98C49.5408 10.4 53.2408 4.53001 57.9908 2.00001C60.8908 0.460009 64.1608 0.200003 67.2208 1.26C70.4008 2.37 73.4208 1.49001 75.8408 0.780007C76.7108 0.520007 77.5408 0.280007 78.2708 0.170007C85.1608 -0.889993 87.8908 3.21001 90.2908 6.83001C91.8108 9.13001 93.2508 11.29 95.6108 12.27C102.681 15.2 103.771 19.1 104.921 23.22C105.711 26.06 106.531 28.99 109.511 31.81C115.301 37.29 114.801 41.7 114.271 46.37C113.861 50.02 113.431 53.79 115.811 58.68C119.871 67.01 116.951 70.84 112.811 74.12C116.411 73.85 119.651 74.97 122.441 77.44C129.111 83.35 131.831 96.06 131.971 102.69L132.011 104.69C132.131 110.64 132.171 112.44 133.191 116.48C135.051 123.89 136.181 132.56 136.531 142.25C136.571 143.21 136.601 144.7 136.641 146.45C136.761 151.32 136.911 158 137.241 160.59C137.551 163.04 137.361 164.44 136.601 165.26C136.171 165.73 135.601 165.97 134.911 166.09C136.901 169.75 138.321 175.03 139.101 181.79L137.811 181.94C136.911 174.1 135.281 169.21 133.501 166.19C133.001 166.18 132.471 166.17 131.891 166.15C129.391 166.06 125.961 165.93 121.521 167.22C120.421 167.54 119.361 167.08 118.881 166.09C118.411 165.13 118.561 163.71 119.971 162.69C123.451 160.16 126.831 159.51 129.731 160.78C131.421 161.52 132.911 162.9 134.191 164.88C134.871 164.83 135.371 164.7 135.651 164.4C136.111 163.9 136.211 162.74 135.961 160.76C135.631 158.1 135.471 151.39 135.351 146.49C135.311 144.75 135.271 143.26 135.241 142.3C134.891 132.7 133.781 124.12 131.941 116.8C130.891 112.62 130.851 110.63 130.721 104.72L130.681 102.72C130.541 96.31 127.941 84.05 121.581 78.41C118.981 76.11 115.961 75.11 112.591 75.44C112.041 75.49 111.501 75.51 110.981 75.5C110.831 75.61 110.691 75.71 110.541 75.82C108.021 77.66 105.411 79.57 103.571 82.34C103.011 83.19 102.311 83.68 101.551 83.75C101.031 83.8 100.241 83.68 99.3708 82.8C96.6608 80.07 92.8508 78.98 88.0608 79.55C86.0808 79.79 84.7408 78.9 84.3108 77.91C83.9508 77.08 84.1708 76.18 84.8908 75.57C85.3608 75.17 85.8208 74.81 86.2908 74.45C88.0608 73.08 89.7308 71.78 91.6108 68.29C92.2708 67.06 93.0608 66.37 94.0108 66.17C95.8208 65.78 97.7208 67.24 100.131 69.09C102.951 71.25 106.371 73.88 110.601 74.16C115.321 70.68 118.731 67.58 114.651 59.23C112.101 54 112.571 49.86 112.991 46.21C113.501 41.68 113.951 37.78 108.631 32.74C105.391 29.67 104.491 26.43 103.681 23.56C102.571 19.58 101.611 16.14 95.1208 13.46C92.4008 12.33 90.7808 9.9 89.2208 7.54C86.8208 3.92 84.5408 0.510005 78.4708 1.45001C77.8308 1.55001 77.0808 1.77001 76.2108 2.02001C73.7508 2.74001 70.3808 3.73 66.8008 2.48C64.0908 1.54 61.1808 1.77001 58.6108 3.14001C54.1908 5.49001 50.7108 11.08 48.5608 19.3C47.7208 22.52 46.3908 25.22 45.1108 27.83C42.3408 33.47 39.9408 38.35 43.3708 46.67C43.6308 47.31 43.8908 47.92 44.1308 48.5C46.5608 54.28 48.0208 57.77 44.6708 63.42C44.1608 64.28 42.6008 66.91 43.3708 68.78C43.7908 69.79 44.8708 70.52 46.5908 70.96C51.2408 72.14 55.5508 70.92 57.5708 67.84C59.6508 64.66 58.9008 60.34 55.5208 55.97C50.2508 49.18 50.4208 45.71 50.6908 40.47C50.8308 37.78 50.9808 34.73 50.4708 30.45C49.6508 23.63 54.2108 21.82 57.8808 20.37C59.1008 19.88 60.2608 19.43 61.1808 18.83C67.3508 14.84 70.8208 15.24 77.3208 20.71C79.3708 22.44 80.9208 23.29 82.1608 23.97C84.3108 25.15 85.7308 25.94 87.4208 29.61C87.9008 30.64 88.4808 31.27 89.1708 31.48C90.0008 31.73 90.8908 31.33 91.4908 30.96C93.6108 29.64 95.0408 30.03 95.8708 30.58C98.0008 32 98.4108 35.96 97.8708 39.25C97.3208 42.6 95.5908 46.49 92.3808 47.35C90.6608 47.81 90.2108 48.12 90.0308 49.86C89.3108 56.78 86.0108 59.65 79.4308 65.37L77.9208 66.69C74.2108 69.93 70.7108 70.66 66.9008 68.98C66.4208 68.77 66.0008 68.76 65.5708 68.96C64.4708 69.47 63.4008 71.33 62.5608 74.18C62.2608 75.21 62.2808 76.02 62.6208 76.33C62.8608 76.55 63.3308 76.57 63.8808 76.37C68.6708 74.63 73.5608 74.86 77.3108 77.01C81.0508 79.16 83.5308 83.06 84.4808 88.3C87.9108 107.18 88.4608 119.24 89.0908 133.21C89.3608 139.24 89.6408 145.48 90.1908 152.68C90.3708 155.11 89.9408 156.77 88.8508 157.75C87.4408 159.03 85.2408 158.84 83.2908 158.5C82.2408 158.31 81.2708 158.11 80.3508 157.92C75.3408 156.89 71.7308 156.14 62.9308 159.03C60.5408 159.82 58.3108 160.18 56.3508 160.5C50.8008 161.4 47.1308 162 44.7608 170.71C44.0608 173.29 43.2608 175.46 42.4908 177.55C40.9808 181.66 39.6708 185.22 39.6808 190.41H38.3608V190.39ZM126.711 161.41C124.461 161.41 122.311 162.56 120.741 163.7C119.891 164.31 119.841 165.04 120.061 165.48C120.221 165.81 120.601 166.1 121.181 165.94C125.821 164.6 129.371 164.73 131.961 164.82C132.201 164.83 132.431 164.84 132.661 164.84C131.501 163.27 130.301 162.4 129.231 161.92C128.381 161.57 127.541 161.41 126.711 161.41ZM90.4808 78.09C94.5108 78.09 97.8008 79.36 100.301 81.87C100.581 82.15 101.011 82.47 101.441 82.44C101.901 82.39 102.271 81.96 102.511 81.6C104.291 78.91 106.771 76.97 109.071 75.27C105.151 74.56 101.991 72.14 99.3408 70.1C97.2808 68.52 95.5208 67.16 94.2808 67.42C93.7208 67.54 93.2208 68.02 92.7508 68.89C90.7408 72.62 88.8808 74.06 87.0808 75.45C86.6308 75.8 86.1808 76.15 85.7308 76.53C85.4508 76.77 85.3708 77.06 85.5008 77.36C85.7308 77.89 86.5808 78.39 87.9108 78.23C88.8008 78.14 89.6608 78.09 90.4808 78.09Z" 
					fill="var(--black)"
				/>
				<path
					d="M14.2608 105.02C12.6008 107.22 12.2609 110.14 10.7709 112.51C6.50086 119.37 1.33085 126.08 0.140853 134.29C-0.359147 137.39 0.550858 140.41 1.63086 143.31C3.07086 146.88 4.03085 150.73 5.84085 154.1C7.07085 156.1 9.60086 155.69 10.6309 153.75C12.0109 151.12 11.5409 147.91 12.2109 145.06C12.8009 140.61 16.2409 137.07 16.8309 132.68C17.3009 127.21 15.4908 121.27 18.1508 116.06C19.4408 112.82 22.8109 109.24 20.6609 105.68C19.3009 103.39 16.0609 102.85 14.3609 104.87L14.2608 105.02Z" 
					fill-rule="evenodd" 
					clip-rule="evenodd" 
					fill="var(--purple)"
				/>
				<path 
					d="M8.63086 150.26L7.34085 150.24C7.37085 148.1 6.67086 145.88 5.94086 143.53C4.35086 138.44 2.55085 132.67 6.76085 124.99C9.28085 120.39 10.4709 116.96 11.5209 113.92C12.7009 110.51 13.7309 107.56 16.2809 104.35C19.4909 100.31 20.2509 99.09 18.3809 95.24C17.8809 94.21 17.3408 93.15 16.7908 92.1C14.3508 87.37 12.0508 82.89 13.4808 80.42C14.0808 79.38 15.2609 78.82 16.9909 78.74C23.6209 78.43 29.2809 78.1 33.8209 77.84C54.9209 76.63 58.1708 76.44 60.6508 82.95C64.7108 93.58 68.3209 102.01 71.2109 108.79C76.3709 120.86 78.9709 126.92 77.2509 129.61C76.6409 130.57 75.5308 131.06 73.8708 131.1C65.0308 131.36 48.6309 132.36 39.2409 133.38C37.4809 133.57 36.0808 132.84 35.6508 131.52C35.2708 130.35 35.7509 128.69 37.6609 127.6C39.5309 126.53 41.2809 126.19 42.9709 125.87C44.3809 125.6 45.7109 125.34 46.9309 124.66C47.8009 124.18 48.0209 123.45 47.8609 122.98C47.7309 122.6 47.3609 122.42 46.8509 122.51C45.4909 122.73 44.4109 122.63 43.3609 122.53C42.2709 122.43 41.1409 122.32 39.6109 122.58L39.4008 121.3C41.0908 121.01 42.3109 121.13 43.4809 121.24C44.4909 121.33 45.4409 121.42 46.6409 121.23C47.7809 121.05 48.7409 121.56 49.0909 122.55C49.4309 123.52 49.0909 124.94 47.5709 125.79C46.1609 126.57 44.7309 126.85 43.2209 127.14C41.6409 127.45 40.0009 127.76 38.3109 128.72C37.0309 129.45 36.6709 130.45 36.8909 131.12C37.1209 131.84 37.9709 132.22 39.1109 132.09C48.5409 131.07 64.9809 130.06 73.8409 129.8C75.4409 129.75 75.9309 129.27 76.1609 128.9C77.5109 126.79 74.6909 120.2 70.0209 109.29C67.1209 102.51 63.5109 94.06 59.4409 83.41C57.3509 77.95 55.3109 77.91 33.8909 79.13C29.3409 79.39 23.6808 79.72 17.0408 80.03C15.7608 80.09 14.9608 80.43 14.5908 81.07C13.5208 82.93 15.8609 87.48 17.9309 91.51C18.4809 92.57 19.0309 93.64 19.5309 94.68C21.7109 99.19 20.6609 100.89 17.2809 105.16C14.8709 108.2 13.9308 110.92 12.7308 114.35C11.6608 117.43 10.4509 120.92 7.88086 125.61C3.94086 132.8 5.65085 138.29 7.17085 143.14C7.94085 145.6 8.66086 147.92 8.63086 150.26Z" 
					fill="var(--black)"
				/>
				<path 
					d="M34.4608 124.42L33.8508 123.28C36.8508 121.68 39.1008 121.34 41.0808 121.04C42.8608 120.77 44.4008 120.54 46.2908 119.5C47.3808 118.9 47.6908 117.98 47.4408 117.38C47.2208 116.86 46.6408 116.68 45.8908 116.91C44.9908 117.18 43.7908 117.13 42.4008 117.06C40.5508 116.97 38.4608 116.87 36.3408 117.46L35.9908 116.21C38.3108 115.57 40.6108 115.67 42.4608 115.76C43.7308 115.82 44.8208 115.87 45.5108 115.66C47.1108 115.18 48.2308 115.92 48.6308 116.87C49.1108 118.01 48.6708 119.66 46.9108 120.63C44.8208 121.78 43.1008 122.04 41.2708 122.31C39.3108 122.61 37.2708 122.92 34.4608 124.42Z" 
					fill="var(--black)"
				/>
				<path 
					d="M31.1709 119.68L30.4909 118.58C33.1909 116.92 35.8109 116.24 38.1209 115.64C40.2309 115.09 42.0509 114.62 43.3709 113.54C44.5509 112.57 44.7309 111.51 44.4009 110.95C44.1209 110.47 43.4709 110.35 42.7109 110.64C38.8909 112.1 36.1109 112.58 33.8709 112.96C31.3909 113.39 29.7509 113.67 28.0909 114.99L27.2909 113.97C29.2109 112.45 31.1709 112.11 33.6609 111.68C35.8409 111.3 38.5609 110.83 42.2609 109.42C43.6309 108.9 44.9209 109.24 45.5309 110.29C46.1509 111.35 45.9709 113.08 44.2009 114.53C42.6609 115.8 40.7109 116.3 38.4509 116.89C36.2209 117.47 33.7009 118.12 31.1709 119.68Z" 
					fill="var(--black)"
				/>
				<path 
					d="M22.9308 167.99C22.9108 167.99 22.8908 167.99 22.8708 167.99C18.5708 167.96 15.2508 165.1 13.5208 159.94C11.4508 153.75 13.5108 148.2 15.5108 142.84C16.9408 139 18.2908 135.38 18.1608 131.61C17.8808 123.35 19.1108 120.35 20.9808 115.8C21.1908 115.3 21.4008 114.78 21.6208 114.23C23.3308 109.97 26.2108 108.01 30.5708 105.06C31.0808 104.72 31.6008 104.36 32.1508 103.98C33.8908 102.78 35.2608 103.16 35.9108 103.84C36.6808 104.65 36.8508 106.25 35.5108 108.01C35.1808 108.44 34.6208 108.97 33.9208 109.65C33.5108 110.04 33.0508 110.48 32.5908 110.94L31.6708 110.03C32.1408 109.56 32.6008 109.11 33.0208 108.71C33.6608 108.1 34.2108 107.57 34.4808 107.23C35.3508 106.08 35.3408 105.14 34.9708 104.74C34.5808 104.33 33.7608 104.45 32.8808 105.05C32.3308 105.43 31.8008 105.79 31.2908 106.13C27.1308 108.95 24.3808 110.82 22.8208 114.71C22.6008 115.26 22.3808 115.78 22.1808 116.29C20.3708 120.68 19.1808 123.58 19.4608 131.56C19.6008 135.58 18.1408 139.5 16.7308 143.28C14.8108 148.43 12.8308 153.76 14.7608 159.51C16.3208 164.18 19.1308 166.65 22.8908 166.68C22.9108 166.68 22.9308 166.68 22.9508 166.68C27.3908 166.68 32.3408 163.28 35.9408 158.21C35.5108 155.64 35.4608 152.48 35.7708 148.67C35.9708 146.26 36.9208 144.51 38.3108 143.99C39.1008 143.69 39.9408 143.88 40.5608 144.48C41.8408 145.73 41.9408 148.38 40.8208 151.57C39.9508 154.06 38.7508 156.39 37.3208 158.48C37.8308 161.1 38.7708 163.01 40.1508 164.25C43.6208 167.35 49.6408 166.18 56.6008 164.82C62.5108 163.66 69.2008 162.35 75.1808 163.77C80.8108 165.1 84.2108 164.4 87.5008 163.72C91.5308 162.89 95.3308 162.11 102.491 164.86C107.481 166.78 111.061 166.95 113.451 165.36C118.121 162.28 118.481 152.47 118.931 140.05C119.031 137.34 119.131 134.5 119.291 131.55C119.401 129.44 118.871 128.13 118.301 127.77C118.111 127.65 117.931 127.65 117.721 127.75C117.081 128.09 116.321 129.48 116.261 132.27C115.961 147.34 112.621 161.35 112.581 161.49L111.321 161.19C111.351 161.05 114.661 147.18 114.961 132.25C115.021 129.37 115.801 127.31 117.101 126.62C117.711 126.29 118.401 126.31 118.981 126.68C120.101 127.39 120.691 129.24 120.571 131.62C120.421 134.56 120.311 137.39 120.221 140.1C119.741 153.39 119.391 162.99 114.161 166.44C111.391 168.27 107.421 168.14 102.021 166.06C95.2208 163.44 91.5908 164.19 87.7608 164.98C84.3308 165.69 80.7908 166.42 74.8808 165.02C69.1808 163.67 62.9108 164.9 56.8508 166.08C49.8508 167.45 43.2408 168.74 39.2908 165.2C37.9008 163.95 36.9008 162.2 36.3008 159.88C32.4908 164.78 27.4808 167.99 22.9308 167.99ZM39.0508 145.16C38.9508 145.16 38.8508 145.18 38.7408 145.22C38.0708 145.47 37.2208 146.56 37.0408 148.79C36.7908 151.79 36.7808 154.37 37.0108 156.56C38.0308 154.88 38.9108 153.06 39.5708 151.15C40.6808 147.97 40.3008 146.07 39.6208 145.41C39.4608 145.24 39.2608 145.16 39.0508 145.16Z" 
					fill="var(--black)"
				/>
			</svg>

			<div class="about-wrapper">
				<h2 class="section-heading">Il mio percorso</h2>
				<p class="text">Mi sono diplomata all'istituto tecnico indirizzo informatico e attualmente studio con ottimo profitto presso la facoltà di informatica dell'università di Roma “La Sapienza”.</p>
				<a class="cv-button" href="resume.pdf">Visualizza CV</a>
			</div>
		</div>

		<div class="projects">
			<h2 class="section-heading">Progetti</h2>
			<ProjectList />
		</div>

		<div class="contact">
			<h2 class="section-heading">Parliamo della tua idea</h2>
			<ContactButton />
		</div>

		<footer>
			<p class="footer-text"><span class="copyright">© 2024</span> based in Rome</p>
			<ul class="social-list">
				<li>
					<a class="social" href="https://github.com/qtEva03">
						<svg class="social-icon" viewBox="0 0 24 24">
							<path 
								d="M12 0C5.37321 0 0 5.50714 0 12.3054C0 17.7429 3.43929 22.35 8.20714 23.9786C8.80714 24.0911 9.02679 23.7107 9.02679 23.3839C9.02679 23.0893 9.01607 22.3179 9.01071 21.2893C5.67321 22.0339 4.96607 19.6393 4.96607 19.6393C4.41964 18.2196 3.63214 17.8393 3.63214 17.8393C2.54464 17.0732 3.7125 17.0893 3.7125 17.0893C4.91786 17.175 5.55 18.3589 5.55 18.3589C6.62143 20.2393 8.35714 19.6982 9.04286 19.3821C9.15 18.5893 9.46071 18.0429 9.80357 17.7375C7.14107 17.4268 4.33929 16.3714 4.33929 11.6571C4.33929 10.3125 4.80536 9.21429 5.57143 8.35714C5.44821 8.04643 5.03571 6.79286 5.68929 5.1C5.68929 5.1 6.69643 4.76786 8.98929 6.35893C9.94822 6.08572 10.9714 5.95179 11.9946 5.94643C13.0125 5.95179 14.0411 6.08572 15 6.35893C17.2929 4.76786 18.2946 5.1 18.2946 5.1C18.9482 6.79286 18.5357 8.04643 18.4125 8.35714C19.1786 9.21964 19.6446 10.3179 19.6446 11.6571C19.6446 16.3821 16.8375 17.4214 14.1643 17.7268C14.5929 18.1071 14.9786 18.8571 14.9786 20.0036C14.9786 21.6482 14.9625 22.9768 14.9625 23.3786C14.9625 23.7054 15.1768 24.0911 15.7875 23.9679C20.5661 22.3446 24 17.7375 24 12.3054C24 5.50714 18.6268 0 12 0Z" 
							/>
						</svg>
					</a>
				</li>
				<li>
					<a class="social" href="https://www.linkedin.com/in/eva-evangelisti">
						<svg class="social-icon" viewBox="0 0 24 24">
							<path 
								d="M21.0678 0C22.6861 0 24 1.31391 24 2.93222V21.0678C24 22.6861 22.6861 24 21.0678 24H2.93222C1.31391 24 0 22.6861 0 21.0678V2.93222C0 1.31391 1.31386 0 2.93222 0L21.0678 0ZM7.52161 19.8412V9.26067H4.00411V19.8412H7.52161ZM20.2031 19.8412V13.7737C20.2031 10.5237 18.4679 9.01186 16.154 9.01186C14.2882 9.01186 13.4524 10.038 12.9845 10.7587V9.26067H9.46786C9.5145 10.2535 9.46786 19.8412 9.46786 19.8412H12.9844V13.9323C12.9844 13.616 13.0072 13.2998 13.1004 13.0738C13.3542 12.4421 13.9332 11.7878 14.9048 11.7878C16.1768 11.7878 16.6864 12.7584 16.6864 14.1802V19.8412H20.2031ZM5.78662 4.15884C4.58316 4.15884 3.79688 4.95005 3.79688 5.98706C3.79688 7.00228 4.55925 7.81528 5.74008 7.81528H5.76277C6.98925 7.81528 7.7527 7.00228 7.7527 5.98706C7.72997 4.9515 6.99141 4.16109 5.78662 4.15884Z" 
							/>
						</svg>
					</a> 
				</li>
				<li>
					<a class="social" href="https://twitter.com/Eva03x">
						<svg class="social-icon" viewBox="0 0 24 24">
							<path 
								d="M14.286 10.1634L23.2215 0H21.1043L13.3421 8.82293L7.147 0H0L9.37035 13.343L0 24H2.11715L10.3092 14.6805L16.853 24H24L14.286 10.1634ZM11.3853 13.4601L10.4344 12.1306L2.88064 1.56176H6.13301L12.231 10.0944L13.1778 11.4239L21.1033 22.5143H17.851L11.3853 13.4601Z" 
							/>
						</svg>
					</a>
				</li>
			</ul>
		</footer>

		<script>
			const dots = Array.from(document.getElementsByClassName("dot") as HTMLCollectionOf<HTMLElement>);

			let animationDelay = 250;
			let timeout = 2500;
			
			dots.forEach((dot) => { 
				setTimeout(() => {
					dot.style.animation = `draw ${animationDelay}ms ease forwards`;
				}, timeout);

				timeout += animationDelay;
			})
		</script>
	</body>
</html>