---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const projects = await getCollection("projects");
---

<ul class="project-list">
    { projects.map(project => (
        <li>
            <a class="project" href={ project.data.href }>
                <time datetime={ project.data.datetime }>{ project.data.date }</time>
                <Image class="project-icon" src={ project.data.icon.src } alt={ project.data.icon.alt } />
                <h3 class="project-title">{ project.data.title }</h3>
                <p class="text">{ project.body }</p>
            </a>
        </li>
    )) }
</ul>